.logo {
    width: 200px;
    height: 50px;
    margin-bottom: 4px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0px 10px;
}

a:hover {
    text-decoration: none;
    color: white;
}

footer > p {
    margin-bottom: 13px;
    margin-top: 13px;
}

.footerLinks {
    float: right;
    margin-right: 10px;
}

.footerLinks ul {
    margin: 0;
    padding: 2px 0 0 0;
    list-style-type: none;
}

.footerLinks li {
    display: inline;
}

.container {
    width: 989px;
    margin: 0px auto;
    background-color: white;
    padding: 8px 8px;
    border-radius: 5px;
}

#main {
    border: solid 2px #ccc;
    border-radius: 8px;
    margin: 20px 0px;
    padding: 0px 6px;
}

#search {
    display: inline-block;
}

#resultFrame {
    margin: 0px 5px;
    display: inline-block;
    vertical-align: top;
}

.simple-form {
    margin: 10px 0px;
    padding: 6px 8px;
    width: 300px;
}

.simple-form label {
    font-weight: bold;
}

.simple-form input[type=text],
.simple-form select {
    width: 170px;
}

.form-group {
    margin-bottom: 0px;
}


.simple-form fieldset {
    margin: 10px 0;
    padding: 0;
    border: 0;
}

.bordered-element {
    border: solid 2px rgb(128, 128, 128);
    border-radius: 4px;
}

#results {
    margin: 0px 0px;
    padding: 2px 10px;
    width: 600px;
}

.result {
    margin: 6px 0;
    padding: 1px 4px;
}

.result .title {
    font-weight: bold;
}

#results #toggleButton {
    color: white;
    margin: 16px 0 8px 0;
    cursor: pointer;
}

/* Bootstrap Overrides */

html, body {
    padding: 0;
    margin: 0;
}

header, footer {
    background-color: rgb(221, 221, 221);
    border: solid 1px black;
    border-radius: 8px;
    padding: 5px 5px 5px 10px;
}

body {
    font-size: 17px;
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: rgb(0, 73, 0);;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

footer {
    padding: 0px 10px;
    border-radius: 8px;
}

.navbar {
    float: right;
    margin-right: -4px;
}

.navbar li {
    display: inline;
    margin-left: 5px;
    border-radius: 4px;
    padding: 4px 6px;
    font-weight: bold;
    background-color: green;
}

.btn {
    padding: 4px 14px;
    border-radius: 9px;
}

.btn-success {
    background-color: #174900;
    border-color: #11441d;
}

.btn-success.focus, .btn-success:focus {
    background-color: #218838;
    border-color: #1e7e34;
    box-shadow: none;
}

.btn-info {
    background-color: #30a7d6;
    border-color: #1e81a9;
}

.btn-info:hover {
    background-color: #1ebfff;
    border-color: #77bdd8;
}

.btn-info.focus, .btn-info:focus {
    background-color: #1ebfff;
    border-color: #77bdd8;
    box-shadow: none;
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show>.btn-info.dropdown-toggle {
    background-color: #1ebfff;
    border-color: #77bdd8;
}

.form-control {
    padding: 18px 10px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 9px;
}

.form-control:focus {
        border-color: #4ea3ff;
        box-shadow: none;
}

.select-list {
    padding: 0 8px;
    height: 38px;
}